@model VKAnalyzer.Models.VKModels.AffinityIndex.AffinityIndexOptionsModel

@{
    ViewBag.Title = "Аффинити Индекс";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@Scripts.Render("~/bundles/affinityIndex")

<h2>Аффинити Индекс</h2>

<div class="row">
    @using (Html.BeginForm("Start", "AffinityIndex", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary()
        @Html.HiddenFor(x => x.AccountId)
        @Html.HiddenFor(x => x.ClientId)
        @Html.HiddenFor(x => x.Auditory1.City)
        @Html.HiddenFor(x => x.Auditory2.City)
        @Html.HiddenFor(x => x.Auditory1.Univercity)
        @Html.HiddenFor(x => x.Auditory2.Univercity)
        @Html.HiddenFor(x => x.Auditory1.RetargetGroupId)
        <div class="form-group">
            @Html.Label("Велосипеды: 77390912", new { @class = "col-md-3 control-label" })
        </div>
        <div class="form-group">
            @Html.Label("Куркин: 70468135", new { @class = "col-md-3 control-label" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-3 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.AccountId, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <select id="AccountNames" name="AccountNames" class="form-control"></select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ClientId, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <select id="Clients" name="Clients" class="form-control"></select>
            </div>
        </div>
        <div class="col-sm-6">

            <div class="form-group">
                @Html.LabelFor(m => m.Auditory1.Name, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Auditory1.Name, new { @class = "form-control" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.Auditory1.City, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    <select id="CityName1" name="CityName1" class="form-control"></select>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Auditory1.Gender, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.RadioButtonFor(m => m.Auditory1.Gender, "0", new { @class = "radio-inline", @checked = true })
                    @Html.Label("Не важно")
                    @Html.RadioButtonFor(m => m.Auditory1.Gender, "1", new { @class = "radio-inline" })
                    @Html.Label("Женский")
                    @Html.RadioButtonFor(m => m.Auditory1.Gender, "2", new { @class = "radio-inline" })
                    @Html.Label("Мужской")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Auditory1.AgesFrom, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Auditory1.AgesFrom, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Auditory1.AgesUpTo, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Auditory1.AgesUpTo, new { @class = "form-control" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.Auditory1.Univercity, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    <select id="Univercity1" name="Univercity1" class="form-control"></select>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Auditory1.InterestGroupIds, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Auditory1.InterestGroupIds, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Auditory1.ExcludeInterestGroupIds, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Auditory1.ExcludeInterestGroupIds, new { @class = "form-control" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.Auditory1.RetargetGroupId, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    <select id="RetargetGroupIds1" name="RetargetGroupIds1" class="form-control"></select>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Auditory2.Name, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Auditory2.Name, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Auditory2.City, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    <select id="CityName2" name="CityName2" class="form-control"></select>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Auditory2.Gender, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.RadioButtonFor(m => m.Auditory2.Gender, "0", new { @class = "radio-inline", @checked = true })
                    @Html.Label("Не важно")
                    @Html.RadioButtonFor(m => m.Auditory2.Gender, "1", new { @class = "radio-inline" })
                    @Html.Label("Женский")
                    @Html.RadioButtonFor(m => m.Auditory2.Gender, "2", new { @class = "radio-inline" })
                    @Html.Label("Мужской")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Auditory2.AgesFrom, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Auditory2.AgesFrom, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Auditory2.AgesUpTo, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Auditory2.AgesUpTo, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Auditory2.InterestGroupIds, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Auditory2.InterestGroupIds, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Auditory2.ExcludeInterestGroupIds, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Auditory2.ExcludeInterestGroupIds, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <input type="submit" class="btn btn-default" value="Анализировать" />
            </div>
        </div>
    }
</div>