@model VKAnalyzer.Models.VKModels.AffinityIndex.AffinityIndexOptionsModel

@{
    ViewBag.Title = "Аффинити Индекс";

    var statuses = new SelectList(
        new List<SelectListItem>
        {
            new SelectListItem {Text = "Любой", Value = string.Empty, Selected = true,},
            new SelectListItem {Text = "Не женат/Не замужем", Value = "1"},
            new SelectListItem {Text = "Есть подруга/Есть друг", Value = "2"},
            new SelectListItem {Text = "Помолвлен(а)", Value = "3"},
            new SelectListItem {Text = "Женат/Замужем", Value = "4"},
            new SelectListItem {Text = "Все сложно", Value = "5"},
            new SelectListItem {Text = "В активном поиске", Value = "6"},
            new SelectListItem {Text = "Влюблен/влюблена", Value = "7"},
            new SelectListItem {Text = "В гражданском браке", Value = "8"},
        }, "Value", "Text");
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script type="text/javascript" src="~/Scripts/Plugins/selectize/selectize.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/Plugins/selectize/selectize.css" />
@Scripts.Render("~/bundles/affinityIndex")

<h2>Аффинити Индекс</h2>

<div class="row">
    @using (Html.BeginForm("Start", "AffinityIndex", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary()
        @Html.HiddenFor(x => x.AccountId)
        @Html.HiddenFor(x => x.ClientId)
        
        @Html.HiddenFor(x => x.Auditory1.Cities)
        @Html.HiddenFor(x => x.Auditory1.ExcludeCities)
        @Html.HiddenFor(x => x.Auditory2.Cities)
        @Html.HiddenFor(x => x.Auditory2.ExcludeCities)
        
        @Html.HiddenFor(x => x.Auditory1.Univercity)
        @Html.HiddenFor(x => x.Auditory2.Univercity)
        
        @Html.HiddenFor(x => x.Auditory1.RetargetGroupIds)
        @Html.HiddenFor(x => x.Auditory1.ExcludeRetargetGroupIds)
        @Html.HiddenFor(x => x.Auditory2.RetargetGroupIds)
        @Html.HiddenFor(x => x.Auditory2.ExcludeRetargetGroupIds)
        <div class="form-group">
            @Html.Label("Велосипеды: 77390912", new { @class = "col-md-3 control-label" })
        </div>
        <div class="form-group">
            @Html.Label("Куркин: 70468135", new { @class = "col-md-3 control-label" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-3 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Auditory1.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.AccountId, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <select id="AccountNames" name="AccountNames" class="form-control"></select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ClientId, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <select id="Clients" name="Clients" class="form-control"></select>
            </div>
        </div>
        <div class="col-sm-6">

            <div class="form-group">
                @Html.LabelFor(m => m.Auditory1.Name, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Auditory1.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Auditory1.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Auditory1.Cities, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    <select id="element_Auditory1_Cities" name="element_Auditory1_Cities"></select>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Auditory1.ExcludeCities, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    <select id="element_Auditory1_Exclude_Cities" name="element_Auditory1_Exclude_Cities"></select>
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(m => m.Auditory1.Gender, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.RadioButtonFor(m => m.Auditory1.Gender, "0", new { @class = "radio-inline", @checked = true })
                    @Html.Label("Не важно")
                    @Html.RadioButtonFor(m => m.Auditory1.Gender, "1", new { @class = "radio-inline" })
                    @Html.Label("Женский")
                    @Html.RadioButtonFor(m => m.Auditory1.Gender, "2", new { @class = "radio-inline" })
                    @Html.Label("Мужской")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Auditory1.AgesFrom, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Auditory1.AgesFrom, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Auditory1.AgesUpTo, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Auditory1.AgesUpTo, new { @class = "form-control" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.Auditory1.Status, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.DropDownListFor(m => m.Auditory1.Status, statuses, null, new { @class = "form-control" })
                </div>
            </div>

            @*<div class="form-group">
                @Html.LabelFor(m => m.Auditory1.Univercity, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    <select id="element_Auditory1_Univercity" name="element_Auditory1_Univercity" class="form-control"></select>
                </div>
            </div>*@

            <div class="form-group">
                @Html.LabelFor(m => m.Auditory1.InterestGroupIds, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Auditory1.InterestGroupIds, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Auditory1.ExcludeInterestGroupIds, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Auditory1.ExcludeInterestGroupIds, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Auditory1.RetargetGroupIds, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    <select id="element_Auditory1_RetargetGroupIds" name="element_Auditory1_RetargetGroupIds"></select>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Auditory1.ExcludeRetargetGroupIds, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    <select id="element_Auditory1_Exclude_RetargetGroupIds" name="element_Auditory1_Exclude_RetargetGroupIds"></select>
                </div>
            </div>
        </div>

        /*-------------------------------------------------------------------------*/
        
        <div class="col-sm-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Auditory2.Name, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Auditory2.Name, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Auditory2.Cities, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    <select id="element_Auditory2_Cities" name="element_Auditory2_Cities"></select>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Auditory2.ExcludeCities, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    <select id="element_Auditory2_Exclude_Cities" name="element_Auditory2_Exclude_Cities"></select>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Auditory2.Gender, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.RadioButtonFor(m => m.Auditory2.Gender, "0", new { @class = "radio-inline", @checked = true })
                    @Html.Label("Не важно")
                    @Html.RadioButtonFor(m => m.Auditory2.Gender, "1", new { @class = "radio-inline" })
                    @Html.Label("Женский")
                    @Html.RadioButtonFor(m => m.Auditory2.Gender, "2", new { @class = "radio-inline" })
                    @Html.Label("Мужской")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Auditory2.AgesFrom, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Auditory2.AgesFrom, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Auditory2.AgesUpTo, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Auditory2.AgesUpTo, new { @class = "form-control" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.Auditory2.Status, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.DropDownListFor(m => m.Auditory2.Status, statuses, null, new { @class = "form-control" })
                </div>
            </div>
            
            @*<div class="form-group">
                @Html.LabelFor(m => m.Auditory2.Univercity, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    <select id="element_Auditory2_Univercity" name="element_Auditory2_Univercity" class="form-control"></select>
                </div>
            </div>*@

            <div class="form-group">
                @Html.LabelFor(m => m.Auditory2.InterestGroupIds, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Auditory2.InterestGroupIds, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Auditory2.ExcludeInterestGroupIds, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Auditory2.ExcludeInterestGroupIds, new { @class = "form-control" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.Auditory2.RetargetGroupIds, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    <select id="element_Auditory2_RetargetGroupIds" name="element_Auditory2_RetargetGroupIds"></select>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Auditory2.ExcludeRetargetGroupIds, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    <select id="element_Auditory2_Exclude_RetargetGroupIds" name="element_Auditory2_Exclude_RetargetGroupIds"></select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <input type="submit" class="btn btn-default" value="Анализировать" />
            </div>
        </div>
    }
</div>