@model VKAnalyzer.Models.VKModels.ListOfResults

@{
    ViewBag.Title = "Результаты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Доступные результаты</h2>


<h3>@Html.ActionLink("Аффинити индекс", "Results", "AffinityIndex")</h3>

<h3>Когортный анализ</h3>
<table class="table table-responsive table-bordered">
    <thead>
        <tr>
            <th>Название</th>
            <th>Дата агрегации</th>
            <th>Id группы</th>
            <th>Сервис</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in Model.CohortAnalyseResults)
        {
            <tr>
                <th>
                    @result.Name
                </th>
                <th>
                    @result.DateOfCollection.ToString("dd-MM-yyyy HH:mm")
                </th>
                <th>
                    @result.GroupId
                </th>
                <th>
                    Когортный анализ
                </th>
                <th>
                    @Html.ActionLink("Результаты", "Result", new { id = result.Id })
                </th>
            </tr>
        }
    </tbody>
</table>

<h3>Анализ мемасиков</h3>
<table class="table table-responsive table-bordered">
    <thead>
        <tr>
            <th>Название</th>
            <th>Дата агрегации</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in Model.MemasAnalyzeResults)
        {
            <tr>
                <th>
                    @result.Name
                </th>
                <th>
                    @result.DateOfCollection.ToString("dd-MM-yyyy HH:mm")
                </th>
                <th>
                    @Html.ActionLink("Результаты", "MemasResult", new { id = result.Id })
                </th>
            </tr>
        }
    </tbody>
</table>

<h3>Анализ продаж с группой ретаргета</h3>
<table class="table table-responsive table-bordered">
    <thead>
        <tr>
            <th>Название</th>
            <th>Дата агрегации</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in Model.CohortSalesAnalyseResults)
        {
            <tr>
                <th>
                    @result.Name
                </th>
                <th>
                    @result.DateOfCollection.ToString("dd-MM-yyyy HH:mm")
                </th>
                <th>
                    @Html.ActionLink("Результаты", "CohortSalesResult", new { id = result.Id })
                </th>
            </tr>
        }
    </tbody>
</table>